# VOMS proxy artifacts
x509up_u*
proxy_path.txt
*_EXAMPLE.txt

# Output files 
*.root

# Condor configs 
/condor-cfgs 
/cms_cfgs

# Paths 
/batch-data-paths/

# Generated job/output folders
/condor-jobs/
/outputs/
/batch-test/
